*{
	margin: 0px;
	padding: 0px;
}
/* 清除元素的浮动  after伪元素清除法*/
 .clearfix:after {  content: ""; display: block; height: 0; clear: both; visibility: hidden;  }   

 .clearfix {*zoom: 1;}   /* IE6、7 专有 */

body{
	background-color: #fafafa;
	/* height: 3000px; */
}
.header{
	height: 100px;
	background-color: #fff;
}
.header .inner{
	width: 1240px;
	/* background-color: pink; */
	margin: 0 auto;
}
.logo{
	float: left;
}
.nav{
	float: right;
}
 .nav ul{
	float: left;
	
	line-height: 100px;
}
li{
	list-style: none; /* 去掉小点 */
}
.nav li{
	float: left;
	font-size: 16px;
	line-height: 100px;
	
} 
.nav a{
	text-decoration: none;
	color: #333333;
	margin: 0px 20px;
} 
.nav a:hover{
	color: #2288f6;
}

/* banner begin */
.banner{
	height: 620px;
	background: url(../images/banner.png) no-repeat top center;
	/*把这个图放在中间*/
	position: relative;
}
 .banner ul{
	width: 70px;	
	height: 14px;	
	/* background-color: pink; */
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -35px;
} 
.banner li{
	width: 10px;	
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin: 2px 6px;
}
.banner .chose{
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
}
/* banner end */

/*service begin*/
.service,.case,.media{
	width: 1050px;
	/* background-color: pink; */
	margin: 75px auto 0;

}
/* .service .hd */
.hd{
	margin: 0 25px;
	border-top: 1px solid #ccc;
}
.hd h3{
	/*text-align: center;*/ /* 这句话可以让这个图居中 */
	/* margin-top: -17px; */

	/* 另一种实现的方式 */
	 width: 157px; 
	height: 51px; 
	margin: -17px auto 24px;
	/* 当要设置margin auto的方式居中的时候 必须给这个元素宽才可以 */
}
.hd p{
	width: 850px;
	color: #666;
	text-align: center;
	font-size: 12px;
	margin: 15px auto 0px;
}
.bd{
	margin-top: 40px;
	overflow: hidden;
}
.bd li{
	width: 318px;
	height: 510px;
    background-color: #fff; 
	border: 1px solid #e7e8e9;
	float: left;
}
.bd img{
	margin: 40px 35px;
}
.bd h3{
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	height: 40px;
	color: #333;
}
.bd p{
	font-size: 14px;
	color: #666;
	width: 240px;
	margin: 0 auto;
	line-height: 26px;
}
.bd a{
	display: block;
	width: 150px;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
	text-align: center;
	color:#ff9412;
	background-color: #fff;
	font-size: 14px;
	border: 1px solid #ff9412;
	margin: 35px auto 0;
}
.bd a:hover{
	color:#fff;
	background-color: #ff9412;
}
.yingxiao{
	margin: 0 45px;
}

/* service end */

/* 经典案例开始 */
.case{
	margin: 105px auto 0;
}
.case-png{
	margin-top: 80px;
	position: relative;
	/* overflow: hidden; */
}
.case-png li{
	width: 325px;
	height: 210px;
	/* background: url(../images/pro1.png); */
	float: left;
	position: relative;
}
.case-png-middle{
	margin: 0 37px;
}
.case-text{
	width: 100%;
	height: 45px;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	text-decoration: none;
	line-height: 45px;
	font-size: 13px;
	text-align: center;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3) url(../images/fdj.png) no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	 /* 天呢 因为忘记写top: 0;
	left: 0;这两句话导致浪费了蛮久时间
	 备注一下 绝对定位一定要加定位 */
	 display: none;
}
.case-png li:hover .mask{
	display: block;
	/* 这句话稍微忘记 特别备注一下 显示出来是display为block 不显示是display为none */
}
.case-png a{
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	border-radius: 50%;
}
.left{
	left: -90px;
}
.right{
	right: -90px;
}
.case-png a:hover{
	background-color: rgba(0, 0, 0, .4)
}
/* 经典案例结束 */

/*合作媒体模块开始*/
.media-png{
	/* 加上这几句话以后 刚好把右边的和下边的虚线边框裁掉 */
	width: 1044px;
	height: 248px;
	overflow: hidden;
	margin-top: 50px;
}
.media-png ul{
	width: 1060px;

}
.media-png li{
	width: 208px;
	height: 82px;
	float: left;
	border: 1px dashed #ccc;
	margin-left: -1px;
	margin-top: -1px;
}
.media a{
	width: 188px;
	height: 82px;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
}
/*合作媒体模块结束*/

/*底部栏开始*/
.bottom{
	height: 170px;
	width: 100%;
	background-color: #212425;
	 /*padding-top: 50px; */
	 margin-top: 100px;
	 overflow: hidden;   /* 解决外边距塌陷的问题 */
}
.bottom-text{
	width: 100%;
	text-align: center;
	color: #fff;
    margin-top: 50px; 
}
.bottom-text a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	padding: 0 5px;
}
.bottom-text a:hover {
	color: #2288f6;
	text-decoration: underline;
}
.bottom p{
	margin-top: 32px;
	color: #888888;
	font-size: 14px;
	text-align: center;
}
/*底部栏结束*/
