html {
    	height:100%;
    	width:100%;
    }
	
    body {
	
		margin:0;
		padding:0;
		width:100%;
    	height:100%;   	
	  background-size: 100% 100%;
	  
    }
	
	
	.chose1{
	  width:155px;
	  height:32px;
	  background-position: center;
      background-size: cover;
	  position:absolute;
	  background-image:url(../img/chose.png);
	    top:0%;
		left:50%;
		margin-top:1.44rem;
		margin-left:-1.5rem;

	}
	.OK{
	  width:75px;
	  height:75px;
	  background-position: center;
      background-size: cover;
	  position:absolute;
	  background-image:url(../img/OK.png);
	    bottom:0%;
		left:50%;
		margin-bottom:0.44rem;
		margin-left:-0.65rem;
        z-index: 3;
	}



	
	/*公共样式*/
	.wrapper{width: 100%; height: 100%; display: block;}
	.layer
	{display: none;
	 position: relative;
	 overflow: hidden; 
	 width: 100%; 
	 height: 100%;
	 background-size: 100% 100%;}
 
	.layer1
	{
	 background-image:url(../img/bg0.png);
	 
	 }
	
	.layer2
	{
	 background-image:url(../img/b1.png);
	 }
	 
	 .layer3
	{
	 background-image:url(../img/b2.png);
	 }
	 .layer4
	{
	 background-image:url(../img/b3.png);
	 }
	 .layer5
	{
	 background-image:url(../img/b4.png);
	}
	 .layer6
	{
	 background-image:url(../img/b5.png);
	}
    .swiper-container {
      width: 100%;
      padding-top: 120px;
      padding-bottom: 50px;
    }
	
	.chose1{
	  width:155px;
	  height:32px;
	  background-position: center;
      background-size: cover;
	  position:absolute;
	  background-image:url(../img/chose.png);
	    top:0%;
		left:50%;
		margin-top:1.44rem;
		margin-left:-1.5rem;
	}
	

	
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

    }
	.all{
	  width:366.5px;
	  height:516px; 
	  position:absolute;
	  align="center";  
	  bottom: 9.2%; 
	  left: 50%;
	  margin-left:-181px;
	 background-size:100% 100%; 
      z-index: 2;
	}

	.all1{
	  width: 90%;
	  height: 100%; 
	  position: relative;
	}
	
	.bb{
	   width:366.5px;
	  height:516px;   
	 align="center";  
	  background-size:100% 100%;
		position:absolute;
		left:0%;
		top:0%;
		margin-left:0rem;
		margin-top:0rem;
      z-index: 2; 
	}

	.replay{
		  width:60px;
		  height:50px;
		  background-position: center;
		  background-size: cover;
		  position:absolute;
		  background-image:url(../img/replay.png);
			bottom:45%;
			left:0%;
			margin-bottom:0rem;
			margin-left:0rem;
			z-index: 3;
		}


	.share{
		  width:59px;
		  height:62px;
		  background-position: center;
		  background-size: cover;
		  position:absolute;
		  background-image:url(../img/share.png);
			bottom:0%;
			left:50%;
			margin-bottom:0rem;
			margin-left:-0.6rem;
			z-index: 3;
		}
		
		
		
	.share1{
		  width:59px;
		  height:62px;
		  background-position: center;
		  background-size: cover;
		  position:absolute;
		  background-image:url(../img/share1.png);
			bottom:0%;
			left:50%;
			margin-bottom:0rem;
			margin-left:-0.6rem;
			z-index: 3;
		}
		
		
		
	.save{
	  width:155px;
	  height:32px;
	  background-position: center;
      background-size: cover;
	  position:absolute;
	  background-image:url(../img/save.png);
	    top:0%;
		left:50%;
		margin-top:1.44rem;
		margin-left:-1.5rem;
	}
	


	.name {
	  font-size: 18px;
	  font-family: "cursive";
	  color: rgb(143, 143, 143);
	  line-height: 0.5;
	  -moz-transform: scale(1, 1.1);
	  -webkit-transform: scale(1, 1.1);
	  -ms-transform: scale(1, 1.1);
	  position: absolute;
	 bottom:10%;
	 left:50%;
	  margin-bottom:1rem;
      margin-left:-1.4rem;
	  z-index: 3;
	}

   .user{
   font-size: 22px;
   color: rgb(255, 255, 255);
   line-height: 1.371;
   -moz-transform: scale(1, 1.1);
   -webkit-transform: scale(1, 1.1);
   -ms-transform: scale(1, 1.1);
    
		position:absolute;
		left:0%;
		bottom:0%;
		margin-left:0.9rem;
		margin-bottom:3.2rem;
      z-index: 2; 
	
	}

   .score{
   font-size: 18px;
     color: rgb(255, 255, 255);
   line-height: 1.371;
   -moz-transform: scale(1, 1.1);
   -webkit-transform: scale(1, 1.1);
   -ms-transform: scale(1, 1.1);
  position:absolute;
		right:0%;
		bottom:0%;
		margin-right:0.9rem;
		margin-bottom:3.2rem;
      z-index: 2; 
	}

   .score1{
   font-size: 23px;
   color: rgb(255, 255, 255);
   line-height: 1.371;
   -moz-transform: scale(1, 1.1);
   -webkit-transform: scale(1, 1.1);
   -ms-transform: scale(1, 1.1);
  position:absolute;
		right:0%;
		bottom:0%;
		margin-right:0.45rem;
		margin-bottom:3.2rem;
      z-index: 2; 
	}
	
    .music{
	   width:38px;
		height:38px;
		background-size:100% 100%;
		position:absolute;
		right: 17px;
        top: 8%;
		z-index: 4
	}
	
	.s1{
	   width:315.5px;
		height:108.5px;
		background-image: url("../img/s1.png");
		background-size:100% 100%;
		
		position:absolute;
		left:0%;
		bottom:0%;
		margin-left:0.5rem;
		margin-bottom:0.8rem;
      z-index: 2; 
	}
	
	.s2{
	   width:315.5px;
		height:108.5px;
		background-image: url("../img/s2.png");
		background-size:100% 100%;
		position:absolute;
		left:0%;
		bottom:0%;
	margin-left:0.5rem;
		margin-bottom:0.8rem;
      z-index: 2; 
	}
	.s3{
	    width:315.5px;
		height:108.5px;
	    background-image: url("../img/s3.png");
		background-size:100% 100%;	
	  position:absolute;
		left:0%;
		bottom:0%;
		margin-left:0.5rem;
		margin-bottom:0.8rem;
      z-index: 2; 
	}
		
	/*遮罩层*/
.zhezhao
{width: 100%; 
height: 100%; 
position: absolute;
 left: 0;
 top: 0; 
 background: rgba(0,0,0,0.5); 
 display: none; z-index: 9;
 }
 
.tip
{ width: 278px;
 height: 293px;
 position: absolute; 
 right: 3%; 
 top: 5%;
 background-image:url("../images/p8-6.png");
 background-size:100% 100%;
 }
}
